---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>

    <div class="kanban-container"> 
      {% for item in page.items %}
      <div class="myboard">
        <img
            src="{{ item.image.src | absolute_url }}"
            class="kanbanimg"
            alt="load failed"
        />
        <div class="kanbantitle">
          {% if item.title_ref %}
            <a href="{{ item.title_ref }}">{{ item.title }}</a>
          {% else %}
            {{ item.title }}
          {% endif %}
        </div>
        <div class="kanbandescription">{{ item.description }}</div>

      </div>
      {% endfor %}
    </div>
    
      

    <!-- <div class="work-item">
      <img
        src="{{ item.image.src | absolute_url }}"
        class="work-bubble"
      />
      <span class="work-text">
        <strong>{{ item.title }}</strong>
        &mdash;
        {{ item.description }}
      </span>
    </div> -->
    
    <div class="content">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
